body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links > p {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px 0;
    margin: 0 200px;
}

ul {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    margin: 0 200px;
    margin-left: auto;
}

ul > li {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 0 200px;
    padding: 100px 0;
}

.text {
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.first-button {
    border: 0px;
}

#main-photo {
    height: 240px;
    width: 520px;
}

.random-info {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.random-info > div {
    display: flex;
    justify-content: space-evenly;
    gap: 55px;
    align-items: center;
    font-size: medium;
    font-size: 18px;
    font-weight: normal;
    color: grey;
    padding: 0 300px;
    padding-bottom: 150px;
    margin-top: 55px;
}

img {
    width: 150px;
}

.quote-container {
    font-size: 36px;
    color: #1f2937;
    background-color: #e5e7eb;
}

.quote-container > div {
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 130px 350px;
}

.author {
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
}

.alert {
    display: flex;
    justify-content: center;
    margin: 100px 200px;
}

.alert-box {
    width: 750px;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 50px 130px;
    border-radius: 10px;
}

.alert-text {
    margin-right: auto;
}

button{
    flex-shrink: 0;
    background-color: #3882f6;
    width: 130px;
    height: 30px;
    color: #e5e7eb;
    border-radius: 6px;
    border-color: #e5e7eb;
    border-style: solid;
    margin-left: auto;
    padding: 2px 22px;
}

#alert-title {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 18px;
    background-color: #1f2937;
    color: #e5e7eb;
}